<ion-header>
  <ion-toolbar>
    <ion-row>
      <ion-col size="12" size-md>
        <div class="navigation">
          <ion-menu-button color="dark"></ion-menu-button>
          <a href="home">
            <ion-icon
              name="arrow-back-outline"
              size="large"
              color="dark"
            ></ion-icon>
          </a>
        </div>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="singleCharacter">
  <ion-card>
    <div class="image"><img src="{{singleCharacter.image}}" alt="" /></div>
    <ion-card-header>
      <ion-card-title><p>{{ singleCharacter.name }}</p></ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <p>Status: {{ singleCharacter.status }}</p>
      <p>Species: {{ singleCharacter.species }}</p>
      <p>Gender: {{ singleCharacter.gender }}</p>
      <p>Origin: {{ singleCharacter.origin.name }}</p>
      <p>Location: {{ singleCharacter.location.name }}</p>
    </ion-card-content>

    <ion-card-header>
      <ion-card-title> <p>Episode</p></ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>{{episodes.name}}</p>
      <p>{{episodes.air_date}}</p>
      <p>{{episodes.episode}}</p>
    </ion-card-content>
  </ion-card>
</ion-content>
