<ion-content>
  <div class="container">
    <ion-row class="flex-class">
      <ion-col size="12" size-md> <div class="circle"></div></ion-col>
      <ion-col size="12" size-md><div class="title">Sign In</div></ion-col>
      <ion-col size="12" size-md>
        <div class="signIn">
          <ion-icon name="mail-outline" color="medium"></ion-icon>
          <input type="text" placeholder="E-mail" />
        </div>
      </ion-col>
      <ion-col size="12" size-md>
        <div class="signIn">
          <ion-icon name="lock-closed-outline" color="medium"></ion-icon>
          <input type="text" placeholder="Password" />
        </div>
      </ion-col>
      <ion-col size="12" size-md
        ><div class="forgotPassword"><p>forgot password?</p></div>
      </ion-col>
      <ion-col size="12" size-md
        ><div class="social">
          <p>Sign In With</p>
          <img
            src="https://www.iconsdb.com/icons/preview/gray/facebook-xxl.png"
            alt=""
          /></div
      ></ion-col>
    </ion-row>
  </div>
</ion-content>
