<ion-card>
  <ion-card-header>
    <div class="userDetails">
      <div class="circle"></div>
      <div class="user">
        <ion-card-title>John Dow</ion-card-title>
        <ion-card-subtitle>Paris, France</ion-card-subtitle>
      </div>
      <div class="dateAndTime">
        <ion-card-subtitle>12 jan 2016</ion-card-subtitle>
        <ion-card-subtitle>2miles</ion-card-subtitle>
      </div>
    </div>
  </ion-card-header>
  <div class="image">
    <ion-card-content>
      <img src="assets/img/missingimage.jpg" alt="" />
    </ion-card-content>
  </div>
  <ion-card-content>
    Keep close to Nature's heart... and break clear away, once in awhile, and
    climb a mountain or spend a week in the woods. Wash your spirit clean.
  </ion-card-content>
</ion-card>
