<ion-card>
  <ion-card-header>
    <div class="userDetails">
      <div class="circle"></div>
      <div class="user">
        <ion-card-title>{{ character.name }}</ion-card-title>
        <!-- <div *ngFor="let x of character">
          <p>{{ x }}</p>
        </div> -->
        <!-- 
        <li *ngFor="let single of testCharacters; index as i">
          <p>test: {{ single.name }}</p>
        </li> -->

        <ion-card-subtitle
          >{{ character.gender }},
          {{ character.location.name }}</ion-card-subtitle
        >
      </div>
      <div class="dateAndTime">
        <ion-card-subtitle>Species: {{ character.species }}</ion-card-subtitle>
        <ion-card-subtitle>Status: {{ character.status }}</ion-card-subtitle>
      </div>
    </div>
  </ion-card-header>
  <div class="image">
    <ion-card-content>
      <img src="{{ character.image }}" alt="" />
    </ion-card-content>
  </div>
  <ion-card-content>
    Origin Location: {{ character.origin.name }}
  </ion-card-content>
</ion-card>
