<ion-card>
  <ion-card-header>
    <div class="userDetails">
      <div class="circle"></div>

      <div class="user">
        <ion-card-title>{{ character.name }}</ion-card-title>

        <ion-card-subtitle
          >{{ character.gender }},
          {{ character.location.name }}</ion-card-subtitle
        >
      </div>
    </div>
  </ion-card-header>
  <div class="image">
    <ion-card-content>
      <img src="{{ character.image }}" alt="" />
    </ion-card-content>
  </div>
  <ion-card-content>
    <a [href]="'details?' + character.id">
      <ion-button expand="block" fill="outline" color="dark"
        >More Info?</ion-button
      >
    </a>
  </ion-card-content>
</ion-card>
